ServicioOperaciones/ClienteWeb/Connected Services/srOperaciones/wbOperaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Restar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplicar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dividir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DividirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DividirResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Potencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="potencia" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PotenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PotenciaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Factorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FactorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FactorialResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Seno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SenoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tangente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TangenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TangenteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Inverso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InversoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InversoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizSqr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizSqrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RaizSqrResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizEn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="n2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizEnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RaizEnResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumarSoapIn">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="SumarSoapOut">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="RestarSoapIn">
    <wsdl:part name="parameters" element="tns:Restar" />
  </wsdl:message>
  <wsdl:message name="RestarSoapOut">
    <wsdl:part name="parameters" element="tns:RestarResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="DividirSoapIn">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="DividirSoapOut">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Potencia" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapOut">
    <wsdl:part name="parameters" element="tns:PotenciaResponse" />
  </wsdl:message>
  <wsdl:message name="FactorialSoapIn">
    <wsdl:part name="parameters" element="tns:Factorial" />
  </wsdl:message>
  <wsdl:message name="FactorialSoapOut">
    <wsdl:part name="parameters" element="tns:FactorialResponse" />
  </wsdl:message>
  <wsdl:message name="SenoSoapIn">
    <wsdl:part name="parameters" element="tns:Seno" />
  </wsdl:message>
  <wsdl:message name="SenoSoapOut">
    <wsdl:part name="parameters" element="tns:SenoResponse" />
  </wsdl:message>
  <wsdl:message name="TangenteSoapIn">
    <wsdl:part name="parameters" element="tns:Tangente" />
  </wsdl:message>
  <wsdl:message name="TangenteSoapOut">
    <wsdl:part name="parameters" element="tns:TangenteResponse" />
  </wsdl:message>
  <wsdl:message name="InversoSoapIn">
    <wsdl:part name="parameters" element="tns:Inverso" />
  </wsdl:message>
  <wsdl:message name="InversoSoapOut">
    <wsdl:part name="parameters" element="tns:InversoResponse" />
  </wsdl:message>
  <wsdl:message name="RaizSqrSoapIn">
    <wsdl:part name="parameters" element="tns:RaizSqr" />
  </wsdl:message>
  <wsdl:message name="RaizSqrSoapOut">
    <wsdl:part name="parameters" element="tns:RaizSqrResponse" />
  </wsdl:message>
  <wsdl:message name="RaizEnSoapIn">
    <wsdl:part name="parameters" element="tns:RaizEn" />
  </wsdl:message>
  <wsdl:message name="RaizEnSoapOut">
    <wsdl:part name="parameters" element="tns:RaizEnResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="wbOperacionesSoap">
    <wsdl:operation name="Sumar">
      <wsdl:input message="tns:SumarSoapIn" />
      <wsdl:output message="tns:SumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <wsdl:input message="tns:RestarSoapIn" />
      <wsdl:output message="tns:RestarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:input message="tns:MultiplicarSoapIn" />
      <wsdl:output message="tns:MultiplicarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input message="tns:DividirSoapIn" />
      <wsdl:output message="tns:DividirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <wsdl:input message="tns:PotenciaSoapIn" />
      <wsdl:output message="tns:PotenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <wsdl:input message="tns:FactorialSoapIn" />
      <wsdl:output message="tns:FactorialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <wsdl:input message="tns:SenoSoapIn" />
      <wsdl:output message="tns:SenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <wsdl:input message="tns:TangenteSoapIn" />
      <wsdl:output message="tns:TangenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Inverso">
      <wsdl:input message="tns:InversoSoapIn" />
      <wsdl:output message="tns:InversoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RaizSqr">
      <wsdl:input message="tns:RaizSqrSoapIn" />
      <wsdl:output message="tns:RaizSqrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RaizEn">
      <wsdl:input message="tns:RaizEnSoapIn" />
      <wsdl:output message="tns:RaizEnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wbOperacionesSoap" type="tns:wbOperacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://tempuri.org/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap:operation soapAction="http://tempuri.org/Restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap:operation soapAction="http://tempuri.org/Factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <soap:operation soapAction="http://tempuri.org/Tangente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inverso">
      <soap:operation soapAction="http://tempuri.org/Inverso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizSqr">
      <soap:operation soapAction="http://tempuri.org/RaizSqr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizEn">
      <soap:operation soapAction="http://tempuri.org/RaizEn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wbOperacionesSoap12" type="tns:wbOperacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap12:operation soapAction="http://tempuri.org/Sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap12:operation soapAction="http://tempuri.org/Restar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap12:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap12:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap12:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap12:operation soapAction="http://tempuri.org/Factorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap12:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <soap12:operation soapAction="http://tempuri.org/Tangente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inverso">
      <soap12:operation soapAction="http://tempuri.org/Inverso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizSqr">
      <soap12:operation soapAction="http://tempuri.org/RaizSqr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizEn">
      <soap12:operation soapAction="http://tempuri.org/RaizEn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wbOperaciones">
    <wsdl:port name="wbOperacionesSoap" binding="tns:wbOperacionesSoap">
      <soap:address location="http://boliviansurfers.somee.com/wbOperaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="wbOperacionesSoap12" binding="tns:wbOperacionesSoap12">
      <soap12:address location="http://boliviansurfers.somee.com/wbOperaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>